<ul>
    <li><a href="{{ site.baseurl }}en/the-core-commitments">The Core Commitments</a></li>
    <li><a href="{{ site.baseurl }}en/pass">Pass (Unpass)</a></li>
    <li><a href="{{ site.baseurl }}en/check-in">Check In</a></li>
    <li><a href="{{ site.baseurl }}en/check-out">Check Out</a></li>
    <li><a href="{{ site.baseurl }}en/ask-for-help">Ask For Help</a></li>
    <li><a href="{{ site.baseurl }}en/protocol-check">Protocol Check</a></li>
    <li><a href="{{ site.baseurl }}en/intention-check">Intention Check</a></li>
    <li><a href="{{ site.baseurl }}en/decider">Decider</a></li>
    <li><a href="{{ site.baseurl }}en/resolution">Resolution</a></li>
    <li><a href="{{ site.baseurl }}en/perfection-game">Perfection Game</a></li>
    <li><a href="{{ site.baseurl }}en/personal-alignment">Personal Alignment</a></li>
    <li><a href="{{ site.baseurl }}en/investigate">Investigate</a></li>
</ul>
