<ul>
    <li><a href="{{ site.baseurl }}pt-br/compromissos-principais">Compromissos Fundamentais</a></li>
    <li><a href="{{ site.baseurl }}pt-br/passar">Passar (voltar)</a></li>
    <li><a href="{{ site.baseurl }}pt-br/check-in">Check In</a></li>
    <li><a href="{{ site.baseurl }}pt-br/check-out">Check Out</a></li>
    <li><a href="{{ site.baseurl }}pt-br/ajuda">Peça Ajuda</a></li>
    <li><a href="{{ site.baseurl }}pt-br/verificarando-o-protocolo">Verificando o Protocolo</a></li>
    <li><a href="{{ site.baseurl }}pt-br/verificando-a-intencao">Verificando Intenção</a></li>
    <li><a href="{{ site.baseurl }}pt-br/decisor">Decider</a></li>
    <li><a href="{{ site.baseurl }}pt-br/resolucao">Resolução</a></li>
    <li><a href="{{ site.baseurl }}pt-br/jogo-da-perfeicao">Jogo de Perfeição</a></li>
    <li><a href="{{ site.baseurl }}pt-br/sintonia-pessoal">Sintonia Pessoal</a></li>
    <li><a href="{{ site.baseurl }}pt-br/investigar">Investigar</a></li>
</ul>
