<ul>
    <li><a href="{{ site.baseurl }}lt/branduolio-isipareigojimai">Branduolio įsipareigojimai</a></li>
    <li><a href="{{ site.baseurl }}lt/pasavimas">Pasavimas</a></li>
    <li><a href="{{ site.baseurl }}lt/prisijungimas">Prisijungimas</a></li>
    <li><a href="{{ site.baseurl }}lt/atsijungimas">Atsijungimas</a></li>
    <li><a href="{{ site.baseurl }}lt/pagalbos-prasymas">Pagalbos prašymas</a></li>
    <li><a href="{{ site.baseurl }}lt/protokolo-patikrinimas">Protokolo patikrinimas</a></li>
    <li><a href="{{ site.baseurl }}lt/intencijos-patikrinimas">Intencijos patikrinimas</a></li>
    <li><a href="{{ site.baseurl }}lt/sprendimas">Sprendimas</a></li>
    <li><a href="{{ site.baseurl }}lt/issprendimas">Išsprendimas</a></li>
    <li><a href="{{ site.baseurl }}lt/tobulinimo-zaidimas">Tobulinimo žaidimas</a></li>
    <li><a href="{{ site.baseurl }}lt/asmeninis-susitelkimas">Asmeninis susitelkimas</a></li>
    <li><a href="{{ site.baseurl }}lt/tyrinejimas">Tyrinėjimas</a></li>
</ul>
