{% include header.html %}
        <section id="main-content">
            {{ content }}
        </section>

        <aside id="sidebar">
            {% include pt-br/protocol-list.html %}
        </aside>

        <section id="copyright">
            <hr size="1" />
            <p class="repo-owner"><a href="https://github.com/yuric/core-protocols">&#9400; Compromissos Fundamentais </a>foram criados por <a
                    href="http://www.mccarthyshow.com/">Jim and Michele McCarthy</a>. </p>
        </section>
{% include footer.html %}
